* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --graphic-design-text: #25564b;
  --photography-text: hsl(198, 62%, 26%);
  --footer: hsl(168, 34%, 41%);

  /* Neutral */

  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}
p {
  line-height: 1.6;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", sans-serif;
  color: var(--very-dark-desaturated-blue);
}
.sunny__wrapper {
  font-family: "Barlow", sans-serif;
}

/* buttons */
button {
    font-family: "Fraunces", sans-serif;
}

.btn-cta {
    font-family: "Fraunces", sans-serif;
    background-color: var(--white);
    color: var(--very-dark-desaturated-blue);
    border: 2px solid var(--white);
    padding: 10px;
    border-radius: 30px;
    transition: background-color 0.4s ease-in-out;
  }
  
  .btn-cta:hover {
    cursor: pointer;
    background-color: var(--graphic-design-text);
    color: var(--white);
    border: 2px solid var(--graphic-design-text);
  }
  
.btn-transform {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  border-bottom: 6px solid var(--yellow);
}

.btn-standout {
  color: var(--very-dark-desaturated-blue);
  text-transform: uppercase;
  border-bottom: 6px solid var(--soft-red);
}

/* testtimonial */
.testimonials-header {
    color: var(--dark-grayish-blue);
}

/* Showcase */

.showcase {
  background: url("../assets/mobile/image-header.jpg") no-repeat center/cover;
  height: 512px;
}

.showcase .overlay {
  height: 512px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Navbar */
.navbar {
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

/* Footer */

.footer {
    background-color: var(--footer);
}

.footer ul li {
    color: var(--graphic-design-text);
}

@media (min-width: 768px) {
  .showcase {
    background: url("../assets/desktop/image-header.jpg") no-repeat center/cover;
    height: 512px;
  }
}
